In [29]:
import os
from os import chdir
from glob import glob
import pandas as pd
import csv 
import numpy as np

In [31]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
file_to_load = "raw_data/summers/201907-citibike-tripdata.csv"
file_to_load2 = "raw_data/summers/202007-citibike-tripdata.csv"
file_to_load3 = "raw_data/summers/202107-citibike-tripdata.csv"
file_to_load4 = "raw_data/summers/202207-citibike-tripdata.csv"
citibike19_df = pd.read_csv(file_to_load)
citibike20_df = pd.read_csv(file_to_load2)
citibike21_df = pd.read_csv(file_to_load3)
citibike22_df = pd.read_csv(file_to_load4)
citibike19_df

C:\Users\David\AppData\Local\Temp\ipykernel_1176\4008498761.py:8: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  citibike21_df = pd.read_csv(file_to_load3)
C:\Users\David\AppData\Local\Temp\ipykernel_1176\4008498761.py:9: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citibike22_df = pd.read_csv(file_to_load4)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,897,2019-07-01 00:00:00.1320,2019-07-01 00:14:58.0040,493.0,W 45 St & 6 Ave,40.756800,-73.982912,454.0,E 51 St & 1 Ave,40.754557,-73.965930,18340,Subscriber,1966,1
1,267,2019-07-01 00:00:05.1780,2019-07-01 00:04:32.4500,3143.0,5 Ave & E 78 St,40.776321,-73.964274,3226.0,W 82 St & Central Park West,40.782750,-73.971370,21458,Customer,1996,1
2,2201,2019-07-01 00:00:05.2130,2019-07-01 00:36:46.7490,317.0,E 6 St & Avenue B,40.724537,-73.981854,3469.0,India St & West St,40.731814,-73.959950,39874,Subscriber,1986,1
3,1660,2019-07-01 00:00:08.6010,2019-07-01 00:27:48.8050,249.0,Harrison St & Hudson St,40.718710,-74.009001,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,38865,Subscriber,1988,1
4,109,2019-07-01 00:00:12.1580,2019-07-01 00:02:01.5670,3552.0,W 113 St & Broadway,40.805973,-73.964928,3538.0,W 110 St & Amsterdam Ave,40.802692,-73.962950,30256,Subscriber,1997,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2181059,644,2019-07-31 23:59:45.2950,2019-08-01 00:10:29.8640,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,19018,Subscriber,1964,1
2181060,589,2019-07-31 23:59:52.7170,2019-08-01 00:09:42.0870,3285.0,W 87 St & Amsterdam Ave,40.788390,-73.974700,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,15330,Subscriber,1997,1
2181061,1302,2019-07-31 23:59:52.8280,2019-08-01 00:21:35.1090,331.0,Pike St & Monroe St,40.711731,-73.991930,309.0,Murray St & West St,40.714979,-74.013012,39730,Subscriber,1966,2
2181062,353,2019-07-31 23:59:57.1130,2019-08-01 00:05:50.1350,3255.0,8 Ave & W 31 St,40.750585,-73.994685,482.0,W 15 St & 7 Ave,40.739355,-73.999318,30149,Subscriber,1994,1
2181063,274,2019-07-31 23:59:57.4870,2019-08-01 00:04:32.2070,3459.0,E 53 St & 3 Ave,40.757632,-73.969306,3134.0,3 Ave & E 62 St,40.763126,-73.965269,25344,Subscriber,1994,2

In [35]:
# 2. Check the datatypes of your columns. 
citibike21_df.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id      float64
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [36]:
citibike20_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [26]:
# 3. Convert the 'tripduration' column to datetime datatype.
new_tripduration19 = citibike19_df.tripduration
new_tripduration20 = citibike20_df.tripduration
new_tripduration21 = citibike21_df.tripduration
new_tripduration22 = citibike22_df.tripduration

# print(new_tripduration)

new_tripduration_datetime19 = pd.to_datetime(new_tripduration19, unit='m')
new_tripduration_datetime20 = pd.to_datetime(new_tripduration20, unit='m')
new_tripduration_datetime21 = pd.to_datetime(new_tripduration21, unit='m')
new_tripduration_datetime22 = pd.to_datetime(new_tripduration22, unit='m')

# print(new_tripduration_datetime)

# Add a new column for the converted trip duration
citibike19_df['new_tripduration'] = new_tripduration_datetime19
citibike20_df['new_tripduration'] = new_tripduration_datetime20
citibike21_df['new_tripduration'] = new_tripduration_datetime21
citibike22_df['new_tripduration'] = new_tripduration_datetime22

In [27]:
# 4. Check the datatypes of your columns. 
# new tripduration shows as a datatime
citibike19_df.dtypes

tripduration                        int64
starttime                          object
stoptime                           object
start station id                  float64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                    float64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
new_tripduration           datetime64[ns]
dtype: object

In [37]:
merged_df = pd.merge(citibike19_df,citibike20_df, how='outer')
merged2_df = pd.merge(citibike21_df,citibike22_df, how='outer')

ValueError: You are trying to merge on float64 and object columns. If you wish to proceed you should use pd.concat

In [9]:
import os
import csv, glob

Dir = r"E:\workdocs\Repos\Challenge18-CitiBike_Tableau\raw_data\summers"
Out_Dir = r"E:\workdocs\Repos\Challenge18-CitiBike_Tableau\Resources"

csv_file_list = glob.glob(os.path.join(Dir, '*.csv'))
print (csv_file_list)

['E:\\workdocs\\Repos\\Challenge18-CitiBike_Tableau\\raw_data\\summers\\201907-citibike-tripdata.csv', 'E:\\workdocs\\Repos\\Challenge18-CitiBike_Tableau\\raw_data\\summers\\201908-citibike-tripdata.csv', 'E:\\workdocs\\Repos\\Challenge18-CitiBike_Tableau\\raw_data\\summers\\202007-citibike-tripdata.csv', 'E:\\workdocs\\Repos\\Challenge18-CitiBike_Tableau\\raw_data\\summers\\202008-citibike-tripdata.csv', 'E:\\workdocs\\Repos\\Challenge18-CitiBike_Tableau\\raw_data\\summers\\202107-citibike-tripdata.csv', 'E:\\workdocs\\Repos\\Challenge18-CitiBike_Tableau\\raw_data\\summers\\202108-citibike-tripdata.csv', 'E:\\workdocs\\Repos\\Challenge18-CitiBike_Tableau\\raw_data\\summers\\202207-citbike-tripdata.csv', 'E:\\workdocs\\Repos\\Challenge18-CitiBike_Tableau\\raw_data\\summers\\202208-citibike-tripdata.csv']

In [ ]:
pd.merge()

In [10]:
with open(os.path.join(Out_Dir, 'Output-summers.csv'), 'w', newline='') as f:
    wf = csv.writer(f, lineterminator='\n')

    for files in csv_file_list:
        with open(files, 'r') as r: 
            next(r)                   # SKIP HEADERS
            rr = csv.reader(r)
            for row in rr:
                wf.writerow(row)

In [12]:
target = "E:\workdocs\Repos\Challenge18-CitiBike_Tableau\Resources\Output-summers.csv"

books_df = pd.read_csv(target, encoding="utf-8")
books_df.head(10)

C:\Users\David\AppData\Local\Temp\ipykernel_1176\89230864.py:3: DtypeWarning: Columns (0,3,5,6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  books_df = pd.read_csv(target, encoding="utf-8")

,897,2019-07-01 00:00:00.1320,2019-07-01 00:14:58.0040,493,W 45 St & 6 Ave,40.7568001,-73.98291153,454,E 51 St & 1 Ave,40.75455731,-73.96592976,18340,Subscriber,1966,1
0,267,2019-07-01 00:00:05.1780,2019-07-01 00:04:32.4500,3143,5 Ave & E 78 St,40.776321,-73.964274,3226,W 82 St & Central Park West,40.782750,-73.971370,21458.0,Customer,1996.0,1.0
1,2201,2019-07-01 00:00:05.2130,2019-07-01 00:36:46.7490,317,E 6 St & Avenue B,40.724537,-73.981854,3469,India St & West St,40.731814,-73.959950,39874.0,Subscriber,1986.0,1.0
2,1660,2019-07-01 00:00:08.6010,2019-07-01 00:27:48.8050,249,Harrison St & Hudson St,40.71871,-74.009001,369,Washington Pl & 6 Ave,40.732241,-74.000264,38865.0,Subscriber,1988.0,1.0
3,109,2019-07-01 00:00:12.1580,2019-07-01 00:02:01.5670,3552,W 113 St & Broadway,40.805973,-73.964928,3538,W 110 St & Amsterdam Ave,40.802692,-73.962950,30256.0,Subscriber,1997.0,1.0
4,106,2019-07-01 00:00:12.6680,2019-07-01 00:01:59.6060,3593,31 St & Broadway,40.761584,-73.925921,3592,Crescent St & Broadway,40.763359,-73.928647,16875.0,Subscriber,1988.0,1.0
5,550,2019-07-01 00:00:14.4940,2019-07-01 00:09:25.3970,3507,Park Ave & E 124 St,40.804555,-73.939686,3553,Frederick Douglass Blvd & W 112 St,40.801694,-73.957145,34139.0,Subscriber,1992.0,1.0
6,338,2019-07-01 00:00:18.1350,2019-07-01 00:05:56.9780,478,11 Ave & W 41 St,40.760301,-73.998842,388,W 26 St & 10 Ave,40.749718,-74.002950,39703.0,Subscriber,1995.0,1.0
7,469,2019-07-01 00:00:25.0940,2019-07-01 00:08:14.2420,514,12 Ave & W 40 St,40.760875,-74.002777,458,11 Ave & W 27 St,40.751396,-74.005226,28266.0,Subscriber,1989.0,1.0
8,562,2019-07-01 00:00:26.7780,2019-07-01 00:09:49.2100,116,W 17 St & 8 Ave,40.741776,-74.001497,462,W 22 St & 10 Ave,40.746920,-74.004519,26757.0,Subscriber,1965.0,1.0
9,2420,2019-07-01 00:00:29.6810,2019-07-01 00:40:49.8050,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3054,Greene Ave & Throop Ave,40.689493,-73.942061,28840.0,Subscriber,1986.0,1.0

In [13]:
renamed_df = books_df.rename(columns={"Trip Duration":'tripduration',
                                        "Start Time":'starttime',
                                        "Stop Time": 'stoptime',
                                        "Start Station ID": 'start station id',
                                        "Start Station Name":'start station name',
                                        'Start Station Latitude': 'start station latitude',
                                        'Start Station Longitude': 'start station longitude',
                                        'End Station ID': 'end station id',
                                        'End Station Name': 'end station name',
                                        'End Station Latitude': 'end station latitude',
                                        'End Station Longitude':'end station longitude',
                                        'Bike ID': 'bikeid',
                                        'User Type':'usertype', 
                                        'Birth Year': 'birth year',
                                        'Gender': 'gender',})

filename = "output-summers-clean.csv"

renamed_df.to_csv(filename,encoding="utf-8", index=False, header=True)